start fxmigrant


#system default
start mysql-async
start essentialmode
start esplugin_mysql
start es_extended
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start async
start cron
start instance


#LoadingPage
start loadscreen


#essential_Plugin
start esx_billing
start esx_addonaccount
start esx_society
start esx_addoninventory
start esx_datastore
start skinchanger
start esx_skin
start esx_license
start esx_service
start esx_basicneeds #生存模組
start esx_rpchat  
start esx_voice 
start esx_shops #商店
start esx_lscustom #車子定義的模組
start esx_status #腳色狀態
start esx_garage #車庫
start esx_accessories #飾品
start esx_dmvschool #駕訓班
start esx_phone #手機模組
start mythic_notify #無線電

#問題模組
#----------------------------
#start TokoVOIP_TS3 無法載入
#start ls-radio  無法載入

#-------------------------------

#feature
start esx_sit #坐下模組
start esx_drugs #毒品模組
start esx_npcdrugsales #賣毒
start esx_infoillegal #開啟/關閉 非法事業  https://github.com/ESX-PUBLIC/esx_infoillegal
start esx_DarkShops #黑市
start esx_atm
start esx_holdup #島周圍出現可偷竊商店模組
start esx_boat #水上載具模組
start esx_fishing #釣魚
start esx_cinema #電影院
start esx_rpsuicide #可按F5自殺
start esx_radars #測速照相
start esx_coronergate # 解碼器 https://www.youtube.com/watch?v=48akH7z9dh8
start esx_cigarett #雪茄  要新增資料表item-> lighter 、 cigarett

#shop
start esx_weaponshop
start esx_vehicleshop
#start esx_clotheshop
start FiveM-Clothes  #https://github.com/xchopin/FiveM-Clothes


#jobs
start esx_jobs
start esx_joblisting
start esx_policejob
start esx_taxijob
start esx_ambulancejob
start esx_realestateagentjob
start esx_mechanicjob
start esx_barbershop
start esx_bankerjob
start esx_jobCounter

#問題模組
#----------------------------
#start esx_truckerjob
#------------------------------

#securitycam
start esx_securitycam

#問題模組
#----------------------------
#start mhacking
#start pNotify  
#---------------------------------


#teleport
start esx_teleportpads

#dark net
start eden_darknet

#pet
start eden_animal

#building
start fivem-ipl   #建築內部優化

#admin
start esx_admin  #要新增資料庫欄位值

#movement
start eden_demarches #腳色移動方式