# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#login
set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "841195737159E854E61293829015C839"



# These resources will start by default.

ensure server_notification
exec resources.cfg
exec addon.cfg
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
#ensure scoreboard
ensure esx_property

#ensure ConnectQueue

#set sv_debugqueue true # prints debug messages to console
#set sv_displayqueue true # shows queue count in the server name '[count] server name'


set onesync_enabled 1

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "roleplay,esx,Taiwan"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "zh-TW" 
# please DO replace root-AQ on the line ABOVE with a real language! :)


# Set your server's hostname
sv_hostname "^2[台灣伺服器] ^7| ^6實驗市 ^7| ^3RP ^7| ^1[BETA公測] ^7| ^424HR ^7| ^8工程師團隊經營"

# Nested configs!
#exec server_internal.cfg

# Show discord on info 
sets Discord "📻 https://discord.gg/bGhYpt "

sets Programador "Ethan Su | Jack Cheng | kuan Yu Hao | Hao Yu Wang "



# Loading a server icon (96x96 PNG file)
load_server_icon 96x96Logo.png

# 1920*400 Intro Banner
sets banner_detail "https://i.imgur.com/hdsNhrg.png"
sets banner_connecting "https://i.imgur.com/hdsNhrg.png"

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""



# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000011187b8cc group.admin # add the admin to the group
add_principal identifier.steam:11000011456dd03 group.admin # add the admin to the group
add_principal identifier.steam:1100001153bb5c4 group.admin # add the admin to the group
add_principal identifier.steam:11000011b00ad27 group.admin # add the admin to the group
add_principal identifier.steam:110000114d76530 group.admin # add the admin to the group

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "43kihrpkw67em6itrqz0d04mqa8jkht0"

